# Ignore environment files
FreeTunes-main/server/client.env
FreeTunes-main/backend/env
FreeTunes-main/backend/client.env
FreeTunes-main/frontend/.env
FreeTunes-main/backend/.cache

# Ignore node_modules directory
FreeTunes-main/frontend/node_modules/
FreeTunes-main/backend/mp3
FreeTunes-main/backend/hls
FreeTunes-main/backend/__pycache__
FreeTunes-main/backend/.cache
#FreeTunes-main/backend/controller/youtube.com_cookies.txt

# Ignore .next build files (Next.js build output)
FreeTunes-main/frontend/.next/

# Additional common ignores for node projects
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.next
.cache
__pycache__
