# Ignore environment files
FreeTunes-main/server/client.env
FreeTunes-main/backend/env
FreeTunes-main/backend/client.env

# Ignore node_modules directory
FreeTunes-main/frontend/node_modules/


# Ignore .next build files (Next.js build output)
FreeTunes-main/frontend/.next/

# Additional common ignores for node projects
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.next/